In [ ]:
# Getting Started with Python (Hands-on 1)

# Module 1 - Getting Started with Python

# 1. Create a python file named Module.
#   a. Inside the file, define 4 methods named – addition, subtraction, multiplication and division.
#   b. Each method should only accept 2 arguments and should return the result of the operation performed in each method. For e.g., addition() should return the sum of two arguments.
#   c. Save the Module file in .py format.

# creating the module

def addition(a,b):
    return a+b
def subtraction(a,b):
    return a-b
def multiplication(a,b):
    return a*b
def division(a,b):
    return a/b

# Open a new python file and import the Module.py file.
#   a. Now call the 4 methods from the Module.py file, i.e., addition(), subtraction(), multiplication(), and division().

import module

add = module.addition(10,5)
print(add)

sub = module.subtraction(10,5)
print(sub)

mul = module.multiplication(10,5)
print(mul)

div = module.division(10,5)
print(div)

# From the Module file, import only the addition() and pass the arguments so that it can display the result from the method.

from module import addition
a = addition(11,3)
print(a)

# From the Module file, import only the subtraction() and pass the arguments so that it can display the result from the method.

from module import subtraction
b = subtraction(11,4)
print(b)

# From the Module file, import both the multiplication() and division() and pass the arguments so that it can display the result from the methods.

from module import multiplication
c = multiplication(11,5)
print(c)

from module import division
d = division(15,3)
print(d)

ModuleNotFoundError: No module named 'module'

In [ ]:
# a. Create a python if-else program to check if the given numbers are greater or not, also 

num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

if num1 > num2:
    print(f'{num1} is greater than {num2}')
else:
    print(f'{num1} is lesser than {num2}')

Enter first number: 3
Enter second number: 5
3 is lesser than 5

In [ ]:
# b. check whether the given number is an armstrong number or not, and 

# Armstrong number - sum of cube of each digit is equal to the number
# 153 = (1**3) + (5**3) + (3**3) = 1 + 45 + 27 = 153

n = int(input('Enter the number: '))
sum = 0
temp = n

while temp > 0:
    digit = temp % 10   #returns last digit
    sum += digit**3
    temp//=10
    
if n == sum:
    print('It is an Armstrong number')
else:
    print('It is not an Armstrong number')

Enter the number: 555
It is not an Armstrong number

In [ ]:
# c. check whether the given number is a prime number or not. 

num = int(input('Enter the number: '))

if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number: 3
3 is a prime number

In [ ]:
# Create a calculator program for addition, subtraction, multiplication and floor division. 
def calculator(num1, num2, choice):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '//':
        return num1 // num2
    else:
        return "Invalid input"

# Take input from the user

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

operator = (input("Enter the operator: "))

result = calculator(num1, num2, operator)

print("Result:", result)

Enter first number: 4
Enter second number: 2
Enter the operator: +
Result: 6.0

In [ ]:
#  Create a fibonacci sequence using python if-else statements.

def fibo(n):
            if n <= 1:
                return n
            else:
                return(fibo(n-1) + fibo(n-2))
            
length = int(input('What should be the length of sequence? '))
            
if length <= 0:
    print("Please enter a positive integer")
else:
    for i in range(length):  
        print(fibo(i))

What should be the length of sequence? 7
0
1
1
2
3
5
8

In [ ]:
n = int(input("Enter the length of the Fibonacci sequence: "))

# initialize the first two terms of the sequence
a, b = 0, 1

# print the first two terms
print(a)
print(b)

# generate the rest of the sequence using if-else statements
if n > 2:
    for i in range(2, n):
        if i % 2 == 0:
            a = a + b
            print(a)
        else:
            b = a + b
            print(b)

Enter no. of items5
Fibonacci sequence:
0
1
1
2
3

In [1]:
# Create a nested dictionary with values as a nested list for each key in the dictionary.

# Create a nested dictionary
Kids= {"Aadhya_dict" : {"Age": 4.1, "Class":  "pp2" , "weight":12},  
       "Aanya_dict" : {"Age" : 2.5, "Class" :  "Nursery" , "weight":8},
       "Mariam_dict" : {"Age": 2.3, "Class":  "Nursery" , "weight":6},
       "Arheer_dict" : {"Age": 2.1, "Class":  "Nursery" , "weight":5.8}}
Kids

{'Aadhya_dict': {'Age': 4.1, 'Class': 'pp2', 'weight': 12},
 'Aanya_dict': {'Age': 2.5, 'Class': 'Nursery', 'weight': 8},
 'Mariam_dict': {'Age': 2.3, 'Class': 'Nursery', 'weight': 6},
 'Arheer_dict': {'Age': 2.1, 'Class': 'Nursery', 'weight': 5.8}}

In [ ]:
#  Create two sets and perform the following:
#  a. Union of the two sets
#  b. Intersection of the two sets

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Perform union of the two sets
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

# Perform intersection of the two sets
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}

In [ ]:
#  Create a nested tuple from the dictionary, with each item in the tuple as a key value pair from the dictionary.

dict = {1:'apple', 2:'banana', 3:'potato'}

ntuple = tuple(dict.items())

print(ntuple)

((1, 'apple'), (2, 'banana'), (3, 'potato'))

In [ ]:
#  Create a list of the first 50 even natural numbers, and perform the following operations.
#   a. Count the number of elements in the list.
#   b. Reverse the sequence of the list.
#   c. Sort the list in ascending and descending order.
#   d. Get the index value for the element 44, and update the element with the number 100.
#   e. Return a copy of the list, with the resulting list containing the square of each element.

# Create a list of the first 50 even natural numbers
even_numbers = [i*2 for i in range(1, 51)]

# a. Count the number of elements in the list
count = len(even_numbers)
print(f"The number of elements in the list is: {count}")

# b. Reverse the sequence of the list
even_numbers.reverse()
print(f"The reversed list is: {even_numbers}")

# c. Sort the list in ascending and descending order
sorted_asc = sorted(even_numbers)
sorted_desc = sorted(even_numbers, reverse=True)
print(f"The list sorted in ascending order: {sorted_asc}")
print(f"The list sorted in descending order: {sorted_desc}")

# d. Get the index value for the element 44, and update the element with the number 100
index_of_44 = even_numbers.index(44)
even_numbers[index_of_44] = 100
print(f"The updated list is: {even_numbers}")

# e. Return a copy of the list, with the resulting list containing the square of each element
squared_numbers = [num**2 for num in even_numbers]
print(f"The list with squared elements: {squared_numbers}")

The number of elements in the list is: 50
The reversed list is: [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
The list sorted in ascending order: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
The list sorted in descending order: [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
The updated list is: [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 100, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
The list with squared elements: [10000, 9604, 9216, 8836, 8464, 8100, 7744, 7396, 7056, 6724, 6400, 6084, 5776, 5476, 5184, 4900, 4624, 4356, 4096, 3844, 3600, 3364, 3136, 2916, 2704, 2500, 2304, 2116, 10000, 1764, 1600, 1444, 1296, 1156, 1024, 900, 784, 676, 576, 484, 400, 324, 256, 196, 144, 100, 64, 36, 16, 4]

In [ ]:
# Create a nested dictionary and perform the following operations.
#  a. Return a list with the key value pairs from the dictionary.
#  b. Return a list with just the keys from the dictionary.
#  c. Remove the first and last key value from the dictionary.
#  d. Update the last key value pair in the dictionary after removing in the 3rd step.

In [ ]:
people = {'John':{'age': 32, 'sex': 'Male'}, 'Tina':{'age':35, 'sex':'Female'}, 'Tia':{'age':30, 'sex':"Female"}}

#  a. Return a list with the key value pairs from the dictionary.

i = people.items()

print('The key value pairs are: ',i)

      
#  b. Return a list with just the keys from the dictionary.

k = people.keys()

print('The keys are: ',k)

#  c. Remove the first and last key value from the dictionary.

del people['John']
del people['Tia']

# people.pop('John')

#  d. Update the last key value pair in the dictionary after removing in the 3rd step.

print(people)

The key value pairs are:  dict_items([('John', {'age': 32, 'sex': 'Male'}), ('Tina', {'age': 35, 'sex': 'Female'}), ('Tia', {'age': 30, 'sex': 'Female'})])
The keys are:  dict_keys(['John', 'Tina', 'Tia'])
{'Tina': {'age': 35, 'sex': 'Female'}}

In [ ]:
#  For the given strings A = “Python Programming Language”, B = “Best in the World” , perform the following operations.
#  a. Using indexing operations, get the text “gram” from the string A. 
#  b. Using indexing operations, get the text “World” from the string B.
#  c. Change the letters in both strings to Uppercase letters.
#  d. Concatenate the two strings.

A = "Python Programming Language"
B = "Best in the World"

#  a. Using indexing operations, get the text “gram” from the string A. 

print(A[10:14])

#  b. Using indexing operations, get the text “World” from the string B.

print(B[-5:])

#  c. Change the letters in both strings to Uppercase letters.

print(A.upper())
print(B.upper())

#  d. Concatenate the two strings.

print(A+' '+B)

gram
World
PYTHON PROGRAMMING LANGUAGE
BEST IN THE WORLD
Python Programming Language Best in the World

In [ ]:
#  Create a list with n numbers, and 
#  using negative indexing return the list starting from the 5th index to the n-2th index.

n = 10
num_list = list(range(1, n+1))

# using negative indexing to return the list from the 5th index to the n-2th index
sub_list = num_list[-6:-1]
print(sub_list)

[5, 6, 7, 8, 9]

In [ ]:
# Using range(), create a list with numbers ranging from 5-100, and the number of elements should be exactly 19

list2 = [x for x in range(5,101) if (x%5==0)]
print("The list is: ", list2)
print("The length of the list is: ", len(list2))

The list is:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
The length of the list is:  19