### ***MODULE 1***
## *Assignment 1 -IF-ELSE STATEMENT*

### **If-Else Statements Assignment**

*1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. Think about all the edge cases, and print the statements accordingly.*

In [ ]:
a = int(input("Enter the value for a: "))
b = int(input("Enter the value for b: "))

if a > b:
    print('a is greater than b')
elif b > a:
    print('b is greater than a')
elif a == b:
    print('a is equal to b')
else:
    print('Invalid case')

Enter the value for a: 10
Enter the value for b: 20
b is greater than a

## *Assignment 2 - Conditional Statements*

### **Conditional Statements Assignment**

*Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases if any, should also be handled.*

In [ ]:
x = int(input("Enter the value for x: "))
y = int(input("Enter the value for y: "))
z = int(input("Enter the value for z: "))

if x > y and x > z:
    largest = x
elif y > x and y > z:
    largest = y
else z > x and z > y:
    largest = z
    
print('Largest number is: ', largest)

Enter the value for x: 10
Enter the value for y: 20
Enter the value for z: 15
Largest number is:  20

## *Assignment 1 - Loops*

*Print the numbers from 1 to 10 using while loop.*

In [ ]:
x = 1
while x <= 10:
  print (x)
  x += 1

1
2
3
4
5
6
7
8
9
10

## ***Assignment 2 -Loops***

Create a list that is having 10,23,4,26,4,75,24,54 values and with the help of while loop, fetch the even numbers and print the numbers.

In [2]:
# Create the list
numbers = [10, 23, 4, 26, 4, 75, 24, 54]

# Initialize an empty list to store even numbers
even_numbers = []

# Use a while loop to iterate through the list
i = 0
while i < len(numbers):
    # Check if the number is even
    if numbers[i] % 2 == 0:
        even_numbers.append(numbers[i])  # Add even number to the even_numbers list
    i += 1  # Increment the loop variable

# Print the even numbers list
print(even_numbers)

[10, 4, 26, 4, 24, 54]

## ***Assignment 3 - Loops***

*Create an array that is having user defined inputs and with the help of for loop, fetch all the prime numbers and print the numbers.*

In [4]:
# Get user input for array
input_str = input("Enter numbers separated by space: ")
input_list = input_str.split()
array = []
for num_str in input_list:
    array.append(int(num_str))

# Define a function to check if a number is prime
def is_prime(n):
    if n < 2:  # Numbers less than 2 are not prime
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Use a for loop to iterate through the array
prime_numbers = []
for num in array:
    if is_prime(num):
        prime_numbers.append(num)

# Print the prime numbers
print("Prime numbers in the array:", prime_numbers)

Enter numbers separated by space: 1 2 3 4 5 7 8 9
Prime numbers in the array: [2, 3, 5, 7]

# **Case Study Problem 1 - Getting started with Python **

In [6]:
#Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

l = [x**2 for x in range(1, 11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# Write a Function to check if year number is a leap year.

a = int(input('Enter the year: '))

def LY():
    if (a%4 == 0) and (a%100 != 0) or (a%400 == 0):
        print(a,'is a leap year')
    else:
        print(a,'is not a leap year')
obj = LY()

Enter the year: 2020
2020 is a leap year

In [9]:
# Write a Function to take an array and return another array that contains the members of first array that are even.

#Function to take an array

def even1ist():
    times = int(input('How many numbers to input in the array: '))
    array1 = []
    EvenArray = []
    
    for i in range(times):
        num = int(input("Enter a number into array: "))
        array1.append(num)
    
    print('The array is:', array1)


# Array that contains the members of first array that are even

    for x in array1:
        if (x%2==0):
            EvenArray.append(x)
    
    print('The even numbers in the list are :', EvenArray)

#Calliing the function

even1ist()

How many numbers to input in the array: 4
Enter a number into array: 2
Enter a number into array: 4
Enter a number into array: 3
Enter a number into array: 7
The array is: [2, 4, 3, 7]
The even numbers in the list are : [2, 4]

In [11]:
# Write a Function that takes 2 arrays and prints the members of first array that are present of second array.

def match1():
    arrayA = []
    arrayB = []
    interArray = []

    timesA = int(input('How many numbers to input in the 1st array: '))

    for a in range(timesA):
        numA = int(input("Enter a number into array A: "))
        arrayA.append(numA)

    timesB = int(input('How many numbers to input in the 2nd array: '))
        
    for b in range(timesB):
        numB = int(input("Enter a number into array B: "))
        arrayB.append(numB)
    
    print('The 1st array is:', arrayA)
    print('The 2nd array is:', arrayB)

    print('Intersected array is: ', list(set(arrayA) & set(arrayB)))
        
match1()

How many numbers to input in the 1st array: 3
Enter a number into array A: 2
Enter a number into array A: 4
Enter a number into array A: 6
How many numbers to input in the 2nd array: 4
Enter a number into array B: 4
Enter a number into array B: 5
Enter a number into array B: 6
Enter a number into array B: 7
The 1st array is: [2, 4, 6]
The 2nd array is: [4, 5, 6, 7]
Intersected array is:  [4, 6]

# **Introduction to Python**

In [12]:
# 1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
#    a. Concatenate the two tuples and store it in “t_combine”
#    b. Repeat the elements of “t_combine” 3 times
#    c. Access the 3rd element from “t_combine”
#    d. Access the first three elements from “t_combine”
#    e. Access the last three elements from “t_combine”

tupleA = (10,20,30)
tupleB = (40,50,60)

#    a. Concatenate the two tuples and store it in “t_combine”

t_combine = tupleA + tupleB
print(t_combine)

#Checking if it is a tuple (not asked though)
type(t_combine)

#    b. Repeat the elements of “t_combine” 3 times

print(t_combine * 3)

#    c. Access the 3rd element from “t_combine”

print(t_combine[2])

#    d. Access the first three elements from “t_combine”

print(t_combine[:3])

#    e. Access the last three elements from “t_combine”

print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

In [13]:
# 2. Create a list ‘my_list’ with these elements:
#    a. First element is a tuple with values 1,2,3
#    b. Second element is a tuple with values “a”,”b”,”c”
#    c. Third element is a tuple with values True,False

my_list = []

#    a. First element is a tuple with values 1,2,3

e1 = (1,2,3)
my_list.append(e1)

#    b. Second element is a tuple with values “a”,”b”,”c”

e2 = ('a','b','c')
my_list.append(e2)

#    c. Third element is a tuple with values True,False

e3 = (True,False)
my_list.append(e3)

print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [14]:
#  3. Append a new tuple – (1,’a’,True) to ‘my_list’

#    a. Append a new list – *“sparta”,123+ to my_list

my_list = []

element1 = (1,'a',True)
my_list.append(element1)

element2 = ["sparta", 123]
my_list.append(element2)

print(my_list)

[(1, 'a', True), ['sparta', 123]]

In [15]:
# 4. Create a dictionary ‘fruit’ where:
#    a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”) 
#    b. The second key is ‘Cost’ and the values are (85,54,120,70)
#    c. Extract all the keys from ‘fruit’
#    d. Extract all the values from ‘fruit’

fruit = {}

#    a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)

fruit = {"Fruit" : ("Apple", "Banana", "Mango", "Guava")}

#    b. The second key is ‘Cost’ and the values are (85,54,120,70)

ele2 = {'Cost' : (85,54,120,70)}

fruit.update(ele2)

print(fruit)

#    c. Extract all the keys from ‘fruit’

print(fruit.keys())


#    d. Extract all the values from ‘fruit’

print(fruit.values())

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}
dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [16]:
5 # Create a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

s = (1,1,"a","a", True, True)
my_set = set(s)

print(my_set)
type(my_set)

{1, 'a'}

set