##ASSIGNMENT 1

***1. Start off by importing the customer_churn.csv file in the jupyter notebook and store that in churn data frame***

In [43]:
import pandas as pd

churn_data = pd.read_csv("customer_churn-1.csv")

**2. From the churn data frame, select only 3rd, 7th, 9th, and 20th columns and all the rows and store that in new data frame named newCols.**

In [44]:
newCols = churn_data.iloc[:, [2, 6, 8, 19]]

**3. From the original data frame, select only the rows from 200th index till 1000th index(inclusive) column.**

In [45]:
newRows = churn_data.iloc[199:1001, :]

**4. Now select the rows from 20th index till 200th index(exclusive),and columns from 2nd index till 15th index value.**

In [46]:
newRowsCols = churn_data.iloc[20:200, 2:15]

**5. Display the top 100 records from the original data frame.**

In [47]:
churn_data.head(100)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8637-XJIVR,Female,0,No,No,12,Yes,Yes,Fiber optic,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,78.95,927.35,Yes
96,9803-FTJCG,Male,0,Yes,Yes,71,Yes,Yes,DSL,Yes,...,No,Yes,No,No,One year,Yes,Credit card (automatic),66.85,4748.7,No
97,0278-YXOOG,Male,0,No,No,5,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,21.05,113.85,Yes
98,3212-KXOCR,Male,0,No,No,52,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),21.00,1107.2,No
99,4598-XLKNJ,Female,1,Yes,No,25,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.50,2514.5,Yes

**6. Display the last 10 records from the data frame.**

In [48]:
churn_data.tail(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7033,9767-FFLEM,Male,0,No,No,38,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),69.50,2625.25,No
7034,0639-TSIQW,Female,0,No,No,67,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),102.95,6886.25,Yes
7035,8456-QDAVC,Male,0,No,No,19,Yes,No,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),78.70,1495.1,No
7036,7750-EYXWZ,Female,0,No,No,12,No,No phone service,DSL,No,...,Yes,Yes,Yes,Yes,One year,No,Electronic check,60.65,743.3,No
7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

**7. Display the last record from the data frame.**

In [49]:
churn_data.tail(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

**8. Now from the churn data frame, try to sort the data by the tenure column according to the descending order.**

In [50]:
sorted_data = churn_data.sort_values(by="tenure", ascending=False)

**9. Fetch all the records that are satisfying the following condition:**

**a. Tenure>50 and the gender as ‘Female’.**

**b. Gender as ‘Male’ and SeniorCitizen as 0.**

**c. TechSupport as ‘Yes’ and Churn as ‘No’.**

**d. Contract type as ‘Month-to-month’ and Churn as ‘Yes’ . **

In [51]:
condition_a = churn_data[(churn_data["tenure"] > 50) & (churn_data["gender"] == "Female")]

In [52]:
condition_b = churn_data[(churn_data["gender"] == "Male") & (churn_data["SeniorCitizen"] == 0)]

In [53]:
condition_c = churn_data[(churn_data["TechSupport"] == "Yes") & (churn_data["Churn"] == "No")]

In [54]:
condition_d = churn_data[(churn_data["Contract"] == "Month-to-month") & (churn_data["Churn"] == "Yes")]

**10. Use a for loop to calculate the number of customers that are getting the tech support and are male senior citizen.**

In [55]:
count = 0
for i in range(len(churn_data)):
    if churn_data.iloc[i]["TechSupport"] == "Yes" and churn_data.iloc[i]["gender"] == "Male" and churn_data.iloc[i]["SeniorCitizen"] == 1:
        count += 1
print("Number of customers getting tech support and are male senior citizen:", count)

Number of customers getting tech support and are male senior citizen: 119

# **ASSIGNMENT 2**

**1. Now select the rows from 20th index till 200th index (exclusive), and columns from 2nd index till 15th index value.**

In [56]:
selected_data = churn_data.iloc[20:200, 2:15]

## **ASSIGNMENT 3**

**1. Display the top 100 records from the original data frame.**

**2. Display the last 10 records from the data frame.**

**3. Display the last record from the data frame. **

In [57]:
top_100 = churn_data.head(100)
print(top_100)

    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0   7590-VHVEG  Female              0     Yes         No       1           No
1   5575-GNVDE    Male              0      No         No      34          Yes
2   3668-QPYBK    Male              0      No         No       2          Yes
3   7795-CFOCW    Male              0      No         No      45           No
4   9237-HQITU  Female              0      No         No       2          Yes
..         ...     ...            ...     ...        ...     ...          ...
95  8637-XJIVR  Female              0      No         No      12          Yes
96  9803-FTJCG    Male              0     Yes        Yes      71          Yes
97  0278-YXOOG    Male              0      No         No       5          Yes
98  3212-KXOCR    Male              0      No         No      52          Yes
99  4598-XLKNJ  Female              1     Yes         No      25          Yes

       MultipleLines InternetService       OnlineSecurity  ...  \
0   No phone service             DSL                   No  ...
1                 No             DSL                  Yes  ...
2                 No             DSL                  Yes  ...
3   No phone service             DSL                  Yes  ...
4                 No     Fiber optic                   No  ...
..               ...             ...                  ...  ...
95               Yes     Fiber optic                  Yes  ...
96               Yes             DSL                  Yes  ...
97                No              No  No internet service  ...
98                No              No  No internet service  ...
99                No     Fiber optic                   No  ...

       DeviceProtection          TechSupport          StreamingTV  \
0                    No                   No                   No
1                   Yes                   No                   No
2                    No                   No                   No
3                   Yes                  Yes                   No
4                    No                   No                   No
..                  ...                  ...                  ...
95                   No                   No                   No
96                   No                  Yes                   No
97  No internet service  No internet service  No internet service
98  No internet service  No internet service  No internet service
99                  Yes                   No                  Yes

        StreamingMovies        Contract PaperlessBilling  \
0                    No  Month-to-month              Yes
1                    No        One year               No
2                    No  Month-to-month              Yes
3                    No        One year               No
4                    No  Month-to-month              Yes
..                  ...             ...              ...
95                   No  Month-to-month              Yes
96                   No        One year              Yes
97  No internet service  Month-to-month               No
98  No internet service        Two year               No
99                  Yes  Month-to-month              Yes

                PaymentMethod MonthlyCharges  TotalCharges Churn
0            Electronic check          29.85         29.85    No
1                Mailed check          56.95        1889.5    No
2                Mailed check          53.85        108.15   Yes
3   Bank transfer (automatic)          42.30       1840.75    No
4            Electronic check          70.70        151.65   Yes
..                        ...            ...           ...   ...
95           Electronic check          78.95        927.35   Yes
96    Credit card (automatic)          66.85        4748.7    No
97               Mailed check          21.05        113.85   Yes
98  Bank transfer (automatic)          21.00        1107.2    No
99           Electronic check          98.50        2514.5   Yes

[100 rows x 21 columns]

In [58]:
last_10 = churn_data.tail(10)
print(last_10)

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
7033  9767-FFLEM    Male              0      No         No      38
7034  0639-TSIQW  Female              0      No         No      67
7035  8456-QDAVC    Male              0      No         No      19
7036  7750-EYXWZ  Female              0      No         No      12
7037  2569-WGERO  Female              0      No         No      72
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService       OnlineSecurity  ...  \
7033          Yes                No     Fiber optic                   No  ...
7034          Yes               Yes     Fiber optic                  Yes  ...
7035          Yes                No     Fiber optic                   No  ...
7036           No  No phone service             DSL                   No  ...
7037          Yes                No              No  No internet service  ...
7038          Yes               Yes             DSL                  Yes  ...
7039          Yes               Yes     Fiber optic                   No  ...
7040           No  No phone service             DSL                  Yes  ...
7041          Yes               Yes     Fiber optic                   No  ...
7042          Yes                No     Fiber optic                  Yes  ...

         DeviceProtection          TechSupport          StreamingTV  \
7033                   No                   No                   No
7034                  Yes                   No                  Yes
7035                   No                   No                  Yes
7036                  Yes                  Yes                  Yes
7037  No internet service  No internet service  No internet service
7038                  Yes                  Yes                  Yes
7039                  Yes                   No                  Yes
7040                   No                   No                   No
7041                   No                   No                   No
7042                  Yes                  Yes                  Yes

          StreamingMovies        Contract PaperlessBilling  \
7033                   No  Month-to-month              Yes
7034                   No  Month-to-month              Yes
7035                   No  Month-to-month              Yes
7036                  Yes        One year               No
7037  No internet service        Two year              Yes
7038                  Yes        One year              Yes
7039                  Yes        One year              Yes
7040                   No  Month-to-month              Yes
7041                   No  Month-to-month              Yes
7042                  Yes        Two year              Yes

                  PaymentMethod MonthlyCharges  TotalCharges Churn
7033    Credit card (automatic)          69.50       2625.25    No
7034    Credit card (automatic)         102.95       6886.25   Yes
7035  Bank transfer (automatic)          78.70        1495.1    No
7036           Electronic check          60.65         743.3    No
7037  Bank transfer (automatic)          21.15        1419.4    No
7038               Mailed check          84.80        1990.5    No
7039    Credit card (automatic)         103.20        7362.9    No
7040           Electronic check          29.60        346.45    No
7041               Mailed check          74.40         306.6   Yes
7042  Bank transfer (automatic)         105.65        6844.5    No

[10 rows x 21 columns]

In [59]:
last_record = churn_data.tail(1)
print(last_record)

      customerID gender  SeniorCitizen Partner Dependents  tenure  \
7042  3186-AJIEK   Male              0      No         No      66

     PhoneService MultipleLines InternetService OnlineSecurity  ...  \
7042          Yes            No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies  Contract  \
7042              Yes         Yes         Yes             Yes  Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
7042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
7042    No

[1 rows x 21 columns]

## **ASSIGNMENT 4**

1. Now from the churn data frame, try to sort the data by the tenure column according to the descending order.

In [60]:
sorted_data = churn_data.sort_values(by='tenure', ascending=False)
print(sorted_data.head())

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
1672  4737-AQCPU    Male              0     Yes        Yes      72
193   9680-NIAUV  Female              0     Yes        Yes      72
4553  5914-XRFQB    Male              0     Yes         No      72
483   5168-MQQCA  Female              0     Yes         No      72
3266  0464-WJTKO  Female              0     Yes        Yes      72

     PhoneService MultipleLines InternetService       OnlineSecurity  ...  \
1672          Yes           Yes             DSL                  Yes  ...
193           Yes           Yes     Fiber optic                  Yes  ...
4553          Yes           Yes     Fiber optic                  Yes  ...
483           Yes           Yes     Fiber optic                   No  ...
3266          Yes            No              No  No internet service  ...

         DeviceProtection          TechSupport          StreamingTV  \
1672                  Yes                  Yes                   No
193                   Yes                   No                  Yes
4553                  Yes                  Yes                  Yes
483                   Yes                  Yes                  Yes
3266  No internet service  No internet service  No internet service

          StreamingMovies  Contract PaperlessBilling  \
1672                   No  Two year               No
193                   Yes  Two year               No
4553                  Yes  Two year              Yes
483                   Yes  One year              Yes
3266  No internet service  Two year               No

                  PaymentMethod MonthlyCharges  TotalCharges Churn
1672    Credit card (automatic)           72.1       5016.65    No
193     Credit card (automatic)          109.7        8129.3    No
4553  Bank transfer (automatic)          115.8        8424.9    No
483   Bank transfer (automatic)          108.5        8003.8    No
3266  Bank transfer (automatic)           20.1       1460.85    No

[5 rows x 21 columns]

2. Fetch all the records that are satisfying the following condition:

a. Tenure>50 and the gender as ‘Female’.

b. Gender as ‘Male’ and SeniorCitizen as 0.

c. TechSupport as ‘Yes’ and Churn as ‘No’.

d. Contract type as ‘Month-to-month’ and Churn as‘Yes’.

In [61]:
condition_a = churn_data[(churn_data['tenure'] > 50) & (churn_data['gender'] == 'Female')]
print(condition_a.head())

    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
15  3655-SNQYZ  Female              0     Yes        Yes      69          Yes
16  8191-XWSZG  Female              0      No         No      52          Yes
23  3638-WEABW  Female              0     Yes         No      58          Yes
30  3841-NFECX  Female              1     Yes         No      71          Yes
35  6234-RAAPL  Female              0     Yes        Yes      72          Yes

   MultipleLines InternetService       OnlineSecurity  ...  \
15           Yes     Fiber optic                  Yes  ...
16            No              No  No internet service  ...
23           Yes             DSL                   No  ...
30           Yes     Fiber optic                  Yes  ...
35           Yes     Fiber optic                  Yes  ...

       DeviceProtection          TechSupport          StreamingTV  \
15                  Yes                  Yes                  Yes
16  No internet service  No internet service  No internet service
23                   No                  Yes                   No
30                  Yes                  Yes                   No
35                   No                  Yes                  Yes

        StreamingMovies  Contract PaperlessBilling              PaymentMethod  \
15                  Yes  Two year               No    Credit card (automatic)
16  No internet service  One year               No               Mailed check
23                   No  Two year              Yes    Credit card (automatic)
30                   No  Two year              Yes    Credit card (automatic)
35                   No  Two year               No  Bank transfer (automatic)

   MonthlyCharges  TotalCharges Churn
15         113.25       7895.15    No
16          20.65       1022.95    No
23          59.90        3505.1    No
30          96.35       6766.95    No
35          99.90        7251.7    No

[5 rows x 21 columns]

In [62]:
condition_b = churn_data[(churn_data['gender'] == 'Male') & (churn_data['SeniorCitizen'] == 0)]
print(condition_b.head())

   customerID gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
1  5575-GNVDE   Male              0      No         No      34          Yes
2  3668-QPYBK   Male              0      No         No       2          Yes
3  7795-CFOCW   Male              0      No         No      45           No
6  1452-KIOVK   Male              0      No        Yes      22          Yes
9  6388-TABGU   Male              0      No        Yes      62          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
6               Yes     Fiber optic             No  ...               No
9                No             DSL            Yes  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
6          No         Yes              No  Month-to-month              Yes
9          No          No              No        One year               No

               PaymentMethod MonthlyCharges  TotalCharges Churn
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
6    Credit card (automatic)          89.10        1949.4    No
9  Bank transfer (automatic)          56.15       3487.95    No

[5 rows x 21 columns]

In [63]:
condition_c = churn_data[(churn_data['TechSupport'] == 'Yes') & (churn_data['Churn'] == 'No')]
print(condition_c.head())

    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
3   7795-CFOCW    Male              0      No         No      45           No
14  5129-JLPIS    Male              0      No         No      25          Yes
15  3655-SNQYZ  Female              0     Yes        Yes      69          Yes
23  3638-WEABW  Female              0     Yes         No      58          Yes
24  6322-HRPFA    Male              0     Yes        Yes      49          Yes

       MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
3   No phone service             DSL            Yes  ...              Yes
14                No     Fiber optic            Yes  ...              Yes
15               Yes     Fiber optic            Yes  ...              Yes
23               Yes             DSL             No  ...               No
24                No             DSL            Yes  ...               No

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
3          Yes          No              No        One year               No
14         Yes         Yes             Yes  Month-to-month              Yes
15         Yes         Yes             Yes        Two year               No
23         Yes          No              No        Two year              Yes
24         Yes          No              No  Month-to-month               No

                PaymentMethod MonthlyCharges  TotalCharges Churn
3   Bank transfer (automatic)          42.30       1840.75    No
14           Electronic check         105.50       2686.05    No
15    Credit card (automatic)         113.25       7895.15    No
23    Credit card (automatic)          59.90        3505.1    No
24    Credit card (automatic)          59.60        2970.3    No

[5 rows x 21 columns]

In [64]:
condition_d = churn_data[(churn_data['Contract'] == 'Month-to-month') & (churn_data['Churn'] == 'Yes')]
print(condition_d.head())

    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
2   3668-QPYBK    Male              0      No         No       2          Yes
4   9237-HQITU  Female              0      No         No       2          Yes
5   9305-CDSKC  Female              0      No         No       8          Yes
8   7892-POOKP  Female              0     Yes         No      28          Yes
13  0280-XJGEX    Male              0      No         No      49          Yes

   MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
2             No             DSL            Yes  ...               No
4             No     Fiber optic             No  ...               No
5            Yes     Fiber optic             No  ...              Yes
8            Yes     Fiber optic             No  ...              Yes
13           Yes     Fiber optic             No  ...              Yes

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
2           No          No              No  Month-to-month              Yes
4           No          No              No  Month-to-month              Yes
5           No         Yes             Yes  Month-to-month              Yes
8          Yes         Yes             Yes  Month-to-month              Yes
13          No         Yes             Yes  Month-to-month              Yes

                PaymentMethod MonthlyCharges  TotalCharges Churn
2                Mailed check          53.85        108.15   Yes
4            Electronic check          70.70        151.65   Yes
5            Electronic check          99.65         820.5   Yes
8            Electronic check         104.80       3046.05   Yes
13  Bank transfer (automatic)         103.70        5036.3   Yes

[5 rows x 21 columns]

## **ASSIGNMENT 5**

**1. Use a for loop to calculate the number of customers that are getting the tech support and are male senior citizen.**

In [75]:
# Initialize a count variable to 0
count = 0

# Loop through each row in the dataframe
for index, row in churn_data.iterrows():
    # Check if the customer is a male senior citizen and getting tech support
    if row['gender'] == 'Male' and row['SeniorCitizen'] == 1 and row['TechSupport'] == 'Yes':
        # If the condition is true, increment the count
        count += 1

# Print the count of customers getting tech support and are male senior citizen
print("Number of customers getting tech support and are male senior citizen:", count)

Number of customers getting tech support and are male senior citizen: 119

## **CASE STUDY 1**

1. Write a function that takes start and end of a range returns a Pandas series object containing numbers within that range.
 In case the user does not pass start or end or both they should default to 1 and 10 respectively.

e.g. ->

range_series() -> Should Return a pandas series from 1 to 10

range_series(5) -> Should Return a pandas series from 5 to 10

range_series(5, 10) -> Should Return a pandas series from 5 to 15

Create a method that takes n numpy arrays of same dimensions sums them and return the answer.

In [66]:
import pandas as pd

def range_series(start=1, end=10):
    
    # Create a range of numbers using the specified start and end values
    numbers = range(start, end+1)

    # Convert the range to a Pandas series and return it
    return pd.Series(numbers)

In [67]:
# Call the function with default parameters
series1 = range_series()
print(series1)

# Call the function with a start parameter of 5
series2 = range_series(5)
print(series2)

# Call the function with a start parameter of 5 and an end parameter of 15
series3 = range_series(5, 15)
print(series3)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64
0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
dtype: int64

2. Create a function that takes in two lists named keys and values as arguments.
 - Keys would be strings and contain n string values.
 - Values would be a list containing n lists.
 - The methods should return a new pandas data frame with keys as column names and values as their corresponding values
 
 e.g. ->create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a data frame
 
 One Two
 
 0 X A
 
 1 Y B

In [68]:
def create_dataframe(keys, values):
    data = {}
    for i in range(len(keys)):
        data[keys[i]] = values[i]
    df = pd.DataFrame(data)
    return df

In [69]:
keys = ["One", "Two"]
values = [["X", "Y"], ["A", "B"]]
df = create_dataframe(keys, values)
print(df)

  One Two
0   X   A
1   Y   B

3. Create a function that concatenates two dataframes. Use previously created function to create two dataframes and pass them as parameters Make sure that the indexes are reset before returning:

In [70]:
def concatenate_dataframes(df1, df2):
    # concatenate the two dataframes
    result = pd.concat([df1, df2])
    
    # reset the indexes
    result = result.reset_index(drop=True)
    
    return result

In [71]:
df1 = create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]])
df2 = create_dataframe(["Three", "Four"], [["C", "D"], ["E", "F"]])
concatenated_df = concatenate_dataframes(df1, df2)

4. Write code to load data from cars.csv into a dataframe and print it's details. Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [72]:
# Load data from cars.csv into a dataframe
cars_data = pd.read_csv('cars.csv')

# Print dataframe details
print(cars_data.describe())

            S.No        mpg        cyl        disp          hp       drat  \
count  32.000000  32.000000  32.000000   32.000000   32.000000  32.000000
mean   16.500000  20.090625   6.187500  230.721875  146.687500   3.596563
std     9.380832   6.026948   1.785922  123.938694   68.562868   0.534679
min     1.000000  10.400000   4.000000   71.100000   52.000000   2.760000
25%     8.750000  15.425000   4.000000  120.825000   96.500000   3.080000
50%    16.500000  19.200000   6.000000  196.300000  123.000000   3.695000
75%    24.250000  22.800000   8.000000  326.000000  180.000000   3.920000
max    32.000000  33.900000   8.000000  472.000000  335.000000   4.930000

              wt       qsec         vs         am       gear     carb
count  32.000000  29.000000  32.000000  32.000000  32.000000  32.0000
mean    3.217250  17.674828   0.437500   0.406250   3.687500   2.8125
std     0.978457   1.780394   0.504016   0.498991   0.737804   1.6152
min     1.513000  14.500000   0.000000   0.000000   3.000000   1.0000
25%     2.581250  16.870000   0.000000   0.000000   3.000000   2.0000
50%     3.325000  17.420000   0.000000   0.000000   4.000000   2.0000
75%     3.610000  18.600000   1.000000   1.000000   4.000000   4.0000
max     5.424000  22.900000   1.000000   1.000000   5.000000   8.0000

5. Write a method that will take a column name as argument and return the name of the column with which the given column has the highest correlation.
 
 The data to be used is the cars dataset.
 
 The returned value should not the column named that was passed as the parameters.
 
 E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [73]:
def get_max_correlated_column(column_name):
    cars_df = pd.read_csv('cars.csv')
    corr_df = cars_df.corr(numeric_only=True)[column_name].abs().sort_values(ascending=False)
    max_corr_col = corr_df.index[1] # index 0 is the column itself
    return max_corr_col

In [74]:
max_corr_col = get_max_correlated_column('mpg')
print(max_corr_col)

wt